@model IEnumerable<Section>
@{
    Layout = "_AdminLayout";
}

<main class="main">
    <div class="card" style="padding:20px">
        <table dir="rtl" id="BlogTab">
            <thead>
                <tr>

                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.Name)</th>
                    <th width="20%"></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var sect in Model)
                {
                    <tr>
                        <td>@(sect.Name.Length > 28 ? sect.Name.Substring(0, 27) + " ..." : sect.Name)</td>

                        <td width="20%" style="text-align:center; display:flex;">
                            <a asp-controller="Section" asp-action="Edit" asp-route-id="@sect.Id" class="btn btn-primary m-x-1"><i class="fa fa-pencil fa-lg"></i></a>
                            <form asp-controller="Section" asp-action="Delete" asp-route-id="@sect.Id" onSubmit="if(!confirm('تأكيد حذف الفئة الرئيسية؟')){return false;}">
                                <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o fa-lg"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</main>
@section Scripts{
    <script src="~/js/datatable/cdn.datatables.net_1.13.6_js_jquery.dataTables.js"></script>
    <script>
    var table = new DataTable('#BlogTab', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/ar.json',
        },
    });
</script>
}