.tags {
    background-color: #2727fa;
    padding: 1px 2px;
    border-radius: 6px;
    padding-bottom: 6px;
    color:white;
    font-size:14px;
}
.BlogHead{
    color:gray;
    display:flex;
    justify-content:space-between;
}

/*//////////////////////////////*/ /*//////////////////////////////*/
@media only screen and (max-width: 820px) {
    .description {
        width: 100% !important;
    }
    .description img{
        width: 100% !important;
    }
}