@using CptVille.ViewModel
@*@page "/login"*@
@model InputModel
@{
    Layout = "_LoginLayout";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 m-x-auto m-y-3 pull-xs-none vamiddle">
            <div class="card-group ">
                <div class="card p-a-2">
                    <div class="card-block">
                        <h1> تسجيل الذخول</h1>
                        <p class="text-muted">تسجيل الدخول للحساب الخاص</p>
                        <form asp-controller="Account" asp-action="Login" method="post">
                            <div class="input-group m-b-1">
                                <span class="input-group-addon">
                                    <i class="icon-user"></i>
                                </span>
                                <input type="text" name="Email" class="form-control en" placeholder="الإسم المستخدم">
                            </div>
                            <div class="input-group m-b-2">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                                <input type="password" name="Password" class="form-control en" placeholder="كلمة السر">
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="submit" class="btn btn-primary p-x-2">
                                        <i class="icon-login"></i>
                                        تسجيل
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card card-inverse card-primary p-y-3" style="width:44%">
                    <div class="card-block text-xs-center">
                        <div>
                            <h2>خاص</h2>
                            <p>تسجيل خاص فقط للمسؤول </p>
                            <a type="button" href="/" class="btn btn-primary active m-t-1">رجوع </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>